---
layout: default
title: Important Dates
---

<section class="section band--muted">
    <div class="container content-copy">
        <div class="date-block">
            <ul>
                {% for item in site.data.dates %}
                <li>
                    <span class="date-name">{{ item.name }}{% if item.subtitle %} {{ item.subtitle }}{% endif %}</span>
                    <span class="date-value">{{ item.date }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
